<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <!-- <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" > -->
    <button mat-icon-button (click)="toggleMenu()" fxLayoutAlign="center center"><mat-icon fxLayoutAlign="center center">menu</mat-icon></button>
    <span>Inbox</span>
    <button mat-icon-button fxLayoutAlign="center center"><mat-icon fxLayoutAlign="center center">search</mat-icon></button>
  <!-- </mat-toolbar-row> -->
</mat-toolbar>